[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = {version = ">=1.4.1", extras = ["voice"]}
discord = "*"
ffmpeg = "*"

[dev-packages]

[requires]
python_version = "3.9"
